<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello ansible</title>
  </head>
  <body>

    <h3>HELLO ANSIBLE!</h3>
    <h3>Here is our secret: {{ secure }}</h3>

  </body>
</html>
